name: Set Output Variables from file

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  setvariable:
    runs-on: ubuntu-latest
    outputs:
      os: ${{ steps.oo.outputs.OS }}
    steps:
      - uses: actions/checkout@v6
      - name: Set Output Variables
        id: oo
        uses: ./.github/actions/set-output-variable
        with:
          varFilePath: ./.github/variables/variables.env
          filterValue: 'OS=*'
      # - name: Set Output Variables
      #   run: |
      #     echo "OS=ubuntu-latest" >> $GITHUB_OUTPUT
      #     echo "MYVAR1=var1" >> $GITHUB_OUTPUT
      #     echo "MYVAR2=var2" >> $GITHUB_OUTPUT

      - name: Get output
        run: |
          echo "os ${{ steps.oo.outputs.OS }}"     # - name: Set the value


      #   id: step_one
      #   run: |
      #     echo "action_state=yellow" >> $GITHUB_ENV
      # - name: Use the value
      #   id: step_two
      #   run: |
      #     echo "${{ env.action_state }}" # This will output 'yellow'

      # - name: See variable os
      #   shell: bash
      #   run: |
      #     echo "os=ubuntu-latest" >> $GITHUB_ENV
      #     echo "$os"

      # - name: See variable os
      #   shell: bash
      #   run: |
      #     echo "${{ env.os }}"

  see:
    needs: setvariable
    runs-on: ${{ needs.setvariable.outputs.outputs.OS }}
    steps:
      - name: See variable
        shell: bash
        run: |
          echo "${{ needs.setvariable.outputs.outputs.OS }}"

  # deploy:
  #   name: Using variable from environment imported from file os = ${{ env.os }}
  #   needs: [setvariable, see]
  #   runs-on: ${{ env.os }}
  #   steps:
  #     - name: See
  #       shell: bash
  #       run: |
  #         echo ${{ env.os }}